
.App{
    min-height: 100vh;
    background-color: #212121;
    color: white;
    padding-top: 130px;
    padding-bottom: 70px;
    font-family: 'Poppins', sans-serif;
}

@media(max-width){
    .App{
        padding-top: 70px;
    }
}

.pageTitle{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 2vw;
    padding: 4px;
    border-radius: 50px;
    color: #AB72F8;
}
@media (max-width: 835px){
    .pageTitle{
        font-size: 3vw;
    }
}

